# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.vscode/
*.egg-info/


# Environment variables (secrets)
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Logs
logs/
*.log

# Data (IMPORTANT)
data/
archive/
raw/
processed/
*.csv
*.json
*.jsonl
*.parquet
dist/
.streamlit/secrets.toml
Dashboard/.streamlit/secrets.toml
!LLM results/
!LLM results/**
# Database
*.db
*.sqlite
*.sqlite3

# Model outputs
models/
outputs/

# BI temp files
*.pbix.autosave

# Misc
tmp/
cache/